html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 200px 170px;
    width: 570px;
    background: #F4F6F9;
    grid-row-gap: 20px;
}

.title {
    background: #FFF;
    padding: 15px 10px;
    border-bottom: 1px solid #ECECEC;
    font-size: 24px;
    grid-column: 1 / span 12;
    text-align: center;
    color: #5F5F5F;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.03);
}

#gradient-picker {
    grid-row: 2;
    grid-column: 2/ span 10;
}

.input-title {
    color: #5C6066;
    font-size: 18px;
}

#input-group-1 {
    margin-right: 0px;
    margin-left: 3px;
}
.input-group {
    margin: 10px 0px;
}
.input-group label {
    position: absolute;
}

.input-group input {
    width: 88px;
    margin: 16px 10px;
    /* border: 1px solid #ECECEC; */
    border: none;
    background: #FFF;
    padding: 5px;
    font-size: 14px;
    outline: none;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.10);
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    transition: all 100ms linear;
}

.input-group label {
    margin: 0px 10px;
    color: rgb(134, 134, 134);
    font-size: 11px;
}

.input-group label, .input-group input {
    margin-left: 20px;
}

#changeBtn {
    position: absolute;
    right: 25px;
    top: 410px;
    width: 110px;
    background: #731DD8;
    border: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #E4DFEB;
    padding: 8px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: all 100ms linear;
    outline: none;
}

#changeBtn:hover { 
    background: #6819c2;
}

#changeBtn:active {
    background: #5915a6;    
}

.gradient-preview {
    grid-row: 4;
    padding: 10px;
}

#yGradientPreview, #tGradientPreview {
    background: black;
    padding: 10px;
    color: #ECECEC;
    font-size: 22px;
    margin-top: 10px;
    border: 1px solid #ECECEC;
    border-radius: 5px; 
    text-align: center;
}
