/* div[message][body][data-tooltip-position="right"] {
    /* background: #0052D4;  
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);     
    color: #333;
    font-size: 15px; */
}
/*     
    div[message][body][data-tooltip-position="left"] {
    background: #ff3dfb;
    background: -moz-linear-gradient(-45deg, #ff3dfb 0%, #d140c0 92%);
    background: -webkit-linear-gradient(-45deg, #ff3dfb 0%,#d140c0 92%);
    background: linear-gradient(135deg, #ff3dfb 0%,#d140c0 92%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3dfb', endColorstr='#d140c0',GradientType=1 );
        color:white;
        
    } */ 